.checkbox {
  display: inline-flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__switch {
    position: relative;
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #E5E5E5;
    text-align: center;
    cursor: pointer;
  }

  &__input:checked~&__switch {
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-dark;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__text {
    margin-left: 5px;
    user-select: none;
    line-height: 1.28;
    font-size: 10px;
    color: $color-dark;

    &--fz-14 {
      font-size: 14px;
      margin-left: 10px;
    }

    &--fz-12 {
      font-size: 12px;
    }

    &--color-gray {
      color: $color-gray;
    }
  }

  &--box &__switch{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    background: $color-gray-light;
  }

  &--box &__input:checked~&__switch {
    &:before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), $color-primary;
      box-shadow: none;
    }
  }

  &--box-30 &__switch{
    width: 30px;
    height: 30px;
  }

  &--gray &__input:checked~&__switch {
    &:before {
      background: $color-gradient-gray;
    }
  }

  &--mini &__switch{
    width: 20px;
    height: 20px;
    background: #E0E0E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
  }

  &--mini &__input:checked~&__switch{
    &:before {
      background: $color-gradient-primary;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &--icon &__switch {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      display: none;
    }

    &:after {
      font-family: 'iconsfont';
      font-weight: normal;
      font-size: 12px;
      line-height: 1;
      color: $color-gray;
      transition: color .2s ease;
    }

    &--star {
      &:after {
        content: '\e80f';
      }
    }
    &--minus {
      &:after {
        content: '\e810';
      }
    }
  }
  
  &--icon &__input:checked~&__switch {
    &:after {
      color: $color-danger;
    }
  }

  &--switch &__switch {
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background: $color-bg;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
  }

  &--switch &__switch {
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-100%, -50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.08) 100%), $color-gray-dark;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      transition: all .2s ease;
    }
  }

  &--switch &__input:checked~&__switch {
    &:before {
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.08) 100%), $color-primary;
    }
  }

  &--filter &__switch {
    position: relative;
    padding: 12px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 0;
    background: $color-gradient-light;
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    color: $color-dark;
    white-space: nowrap;
    font-weight: 500;
    box-shadow: none;
  }
}