.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  &__item {
    &:not(:first-child) {
      margin-top: 11px;
    }
  }

  &__fields {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__field {
    flex-basis: calc(50% - 7px);
  }
}

@media (max-width: 1204px) {
  .filters {
    grid-template-columns: repeat(4, 1fr);

    &__filter{
      display: flex;
    }
  
    &__filter-item {
      width: 100%;
    }
  }
}
