.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  &__item {
    &:not(:first-child) {
      margin-top: 11px;
    }
  }

  &__fields {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__field {
    flex-basis: calc(50% - 7px);
  }

  &__filter{
    display: flex;
    height: 100%;
  }

  &__filter-item {
    &:first-child {
      width: 54%;
    }
    &:last-child {
      width: 46%;
    }
  }
}

@media (max-width: 1190px) {
  .filters {
    gap: 9px;

    &__fields {
      gap: 6px;
    }
  
    &__field {
      flex-basis: calc(50% - 3px);
    }

    &__checkbox-text {
      font-size: 9px;
    }

    &__field-text {
      font-size: 9px;
    }
  }
}
