.form {
  &__group {
    position: relative;

    &--flex {
      display: flex;
      gap: 20px;

      &-g-40 {
        gap: 40px;
      }
    }

    &--flex-i-center {
      align-items: center;
    }

    &--mt-6 {
      margin-top: 6px;
    }

    &--mt-10 {
      margin-top: 10px;
    }

    &--mt-15 {
      margin-top: 15px;
    }

    &--mt-18 {
      margin-top: 18px;
    }

    &--mt-25 {
      margin-top: 25px;
    }

    &--mt-30 {
      margin-top: 30px;
    }

    &--mt-36 {
      margin-top: 36px;
    }

    &--mt-38 {
      margin-top: 38px;
    }

    &--light {
      border-radius: 5px;
      background: $color-light;
    }

    &--border {
      border-top: 1px solid rgba(0, 0, 0, 0.10);
      padding-top: 31px;
    }
  }

  &__item {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);

    &--full {
      flex-basis: auto;
      width: 100%;
    }

    &--mini {
      flex-basis: calc(20% - 20px);
      width: calc(20% - 20px);
    }

    &--pr-4 {
      padding-right: 4px;
    }
  }

  &__item-fields {
    display: flex;
    align-items: center;
    gap: 10px;

    &--g-20 {
      gap: 20px;
    }

    &--g-30 {
      gap: 30px;
    }

    &--g-60 {
      gap: 60px;
    }
  }
  
  &__label {
    margin-bottom: 8px;

    &--mt-10 {
      margin-top: 10px;
    }

    &--mb-15 {
      margin-bottom: 15px;
    }

    &--mb-20 {
      margin-bottom: 20px;
    }
  }

  &__input-box {
    position: relative;
  }

  &__input {
    padding-right: 30px;
  }

  &__input-text {
    align-items: center;
    color: $color-gray;
    display: flex;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    
    &:before {
      font-size: 12px;
    }
  }

  &__btns {
    margin-top: 10px;

    &--mt-35 {
      margin-top: 35px;
    }

    &--mt-40 {
      margin-top: 40px;
    }

    &--mt-55 {
      margin-top: 55px;
    }
  }

  &__docs {
    margin-top: 18px;
  }

  &__doc {
    &:not(:first-child) {
      margin-top: 18px;
    }
  }

  &__doc-delete {
    &:before {
      margin-right: 8px;
    }
  }

  &__docs-add {
    display: block;

    &--mt-18 {
      margin-top: 18px;
    }
  }

  &__list {
    &-item {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__comments {
    padding-left: 20px;
    position: absolute;
    width: 237px;
    top: 30px;
    left: 100%;
    font-size: 12px;
    line-height: 1.33;

    &--top-15 {
      top: 15px;
    }
  }

  &__comment {
    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}

@media (max-width: 1190px) {
  .form {
    &__comments {
      width: 210px;
    }
  }
}