[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconsfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon {
  &--fz-10 {
    &::before {
      font-size: 10px;
      margin-right: 10px;
    }
  }

  &--fz-12 {
    &::before {
      font-size: 12px;
      margin-right: 10px;
    }
  }

  &--fz-14 {
    &::before {
      font-size: 14px;
      margin-right: 10px;
    }
  }
  &--fz-15 {
    &::before {
      font-size: 15px;
    }
  }

  &--fz-20 {
    &::before {
      font-size: 20px;
    }
  }
  &--mr-6 {
    &::before {
      margin-right: 6px;
    }
  }

  &--color-primary {
    color: $color-primary;
  }

  &--color-gray {
    color: $color-gray-dark;
  }

  &--color-light-gray {
    color: #E5E5E5;
  }

  &--color-dark {
    color: $color-dark;
  }

  &--color-light {
    color: $color-light;
  }

  &--color-danger {
    color: $color-danger;
  }

  &--color-good {
    color: $color-good;
  }

  &--danger {
    &::before {
      color: $color-danger;
    }
  }

  &--gray {
    &::before {
      color: $color-gray;
    }
  }

  &--validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &::before {
      font-size: 20px;
    }
  }

  &--warning {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    &::before {
      font-size: 10px;
    }
  }

  &--comment {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;

    &::before {
      padding-top: 3px;
      font-size: 10px;
    }
  }
}

.icon-arrow-bottom:before { content: '\e800'; } /* '' */
.icon-arrow-circle:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-drop:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-message:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-warning:before { content: '\e80b'; } /* '' */
.icon-two-arows:before { content: '\e80c'; } /* '' */
.icon-update:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */