.nav {
  &__list {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__link {
    color: $color-primary;

    &--active {
      color: $color-gray;
    }
  }
}