.pagination {
  &__list {
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
  }

  &__active,
  &__link {
    margin: 5px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    color: $color-primary;
  }

  &__active {
    color: $color-light;
    background: $color-primary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
  }

  &__link {
    background: $color-gradient-light;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }

  &--min &__active, 
  &--min &__link {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    font-weight: 500;
  }
}