.request-history {
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &-col {
      flex-basis: calc(50% - 10px);

      &--small {
        flex-basis: calc(26.5% - 20px);
      }

      &--min {
        flex-basis: calc(38% - 20px);
      }

      &--big {
        flex-basis: calc(40% - 20px);
      }

      &--auto {
        flex: 1 1 auto;
      }
    }

    &-group {
      display: flex;
      align-items: center;
    }

    &-box {
      display: flex;
      align-items: center;
      
      &--min {
        flex: 0 0 119px;
      }
      &--auto {
        flex: 1 1 auto;
      }
    }
  }
}