.select-popup {
  width: 217px;
  position: relative;
  background: $color-gradient-light;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
  transition: all .2s ease;
  border-radius: 5px;

  &--active {
    background: $color-light;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px 5px 0 0 ;
  }

  &__btn {
    position: relative;
    z-index: 1;
    position: relative;
    padding: 12px 20px 12px 10px;
    text-align: left;
    border: 1px solid $color-light;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: $color-dark;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:after {
      content: '\e800';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-family: 'iconsfont';
      font-size: 10px;
      color: $color-dark;
    }

    span {
      word-break: break-all;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__body {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 5;
    border: 1px solid $color-light;
    border-radius: 0 0 5px 5px;
    background: $color-light;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

    &--active {
      display: block;
    }
  }

  &__search {
    padding: 0 10px 11px;
    &-input {
      text-align: left;
    }
  }

  &__content {
    padding: 10px;
    max-height: 285px;
    overflow-x: auto;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__sublist {
    margin-top: 10px;
    padding-left: 25px;
    padding-bottom: 1px;
  }

  &__bottom {
    border-top: 1px solid $color-gray-light;
    padding: 10px;
  }

  &__submit {
    width: 100%;
  }
}

@media (max-width: 1190px) {
  .select-popup {
    &__sublist {
      padding-left: 17px;
    }
  }
  
}